# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages
* Libraries
* Arithmetic Examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Python Libraries
2. Scientific computing libraries in python 
3. Visualization Libraries
4. Machine Learning and Deep Learning Libraries

| Data Science Tools |
|:------------------:|
|     JupyterLab     |
|      Anaconda      |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic experssion to multiply then add integers
x = (3*4) + 5
print(x)

17

In [6]:
# this will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335